.hero-logo{
    height:auto;
    width:80%;
}
.hero-img{
    height:100%;
    width:100%;
    object-fit: cover;
    
    
}
.img-about{
    border:.3rem solid var(--color-tea-green);
    border-radius:50%;
    @include respond(phone){
        height:25rem;
        width:25rem;
    }
}
.rooms-img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.footer-logo{
    width:100%;
    height:auto;
}