.hero-logo{
    height:auto;
    width:60%;
}
.hero-img{
    height:100%;
    width:100%;
    object-fit: cover;
    
    
}
.img-about{
    border:.3rem solid var(--color-tea-green);
    border-radius:50%;
    height:16rem;
    width:16rem;
    @include respond(phone){
        height:10rem;
        width:10rem;
    }
    @include respond(tab-port){
        height:13rem;
        width:13rem;
    }
}
.rooms-img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.footer-logo{
    width:100%;
    height:auto;
}